<div class="main_body">

<h1> A Tourist Spot </h1>

<% @visits.each do |visit| %>

<h2><%= link_to "#{visit.name}", visit_path(visit) %></h2>

<% end %>

</div>

<div class = "function">
<button type="button" class="button">
 <%= link_to "Add a Tourist Spot", new_visit_path %>
</button>
</div>
