<div class="main_body">

<h1> Your Favorite Journey </h1>

<% @visits.each do |visit| %>

<h2><%= link_to "#{visit.name}", visit_path(visit) %></h2>

<% end %>

<button type="button">
 <%= link_to "Add New Journey", new_visit_path %>
</button>


</div>
