<div class = "home_body">
  <button type="button" class="home_button">
   <%= link_to "Let's travel to New World!", visits_path %>
  </button>
</div>

<h5> Welcome to Ick's Travel Diary! In my web app, you can post your own travel experiences.<br>
  Also, you can rating others' travel journey to show whether you like it or not! </h5>
